@use "functions" as func;
@use "variables" as vars;

.shortcuts_container {
  height: func.to-rem(100px);

  @media (max-width: vars.$mantine-breakpoint-xs) {
    bottom: calc(-100px + -30px);
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--mantine-radius-md);
  width: func.to-rem(80px);
  height: func.to-rem(80px);
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  transition: box-shadow 150ms ease, transform 100ms ease;
  padding: var(--mantine-spacing-xs);
  position: relative;

  .item_image {
    width: func.to-rem(40px);
    height: func.to-rem(40px);
  }

  &:hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.05);
  }

  @media (max-width: vars.$mantine-breakpoint-xs) {
    width: func.to-rem(70px);
    height: func.to-rem(70px);

    .item_image {
      width: func.to-rem(30px);
      height: func.to-rem(30px);
    }
  }
}

.item_actions {
  position: absolute;
  top: 0;
  right: func.to-rem(4px);
  z-index: 2;

  @media (max-width: vars.$mantine-breakpoint-xs) {
    display: none;
  }
}
