@use "variables" as vars;

.widget_clock {
  width: 300px;
  height: 300px;
  border-radius: var(--mantine-radius-xl);
  color: var(--mantine-color-white);

  &.bg_day {
    background: linear-gradient(45deg, var(--mantine-color-blue-3), var(--mantine-color-blue-5));
  }

  &.bg_night {
    background: linear-gradient(45deg, var(--mantine-color-blue-3), var(--mantine-color-blue-5));
  }

  @media (max-width: vars.$mantine-breakpoint-sm) {
    display: none;
  }
}
