# ------------------------------------------------------------------------------------------------------------------------------------------
# General stuff
# ------------------------------------------------------------------------------------------------------------------------------------------

PORT = 4001
NODE_ENV = development # Update per environment!
# http://localhost:4001 - for development
# https://example.com - when hosted
HOST = http://localhost:4001

# ------------------------------------------------------------------------------------------------------------------------------------------
# Self-Host config
# ------------------------------------------------------------------------------------------------------------------------------------------

IS_SELF_HOST = 1 # 1 - yes | 0 - no
