@use "variables" as vars;
@use "functions" as func;

.app_root {
  // height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.app_main {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));

  height: 100%;
  min-width: unset;
  // overflow-y: auto;
  // overflow-x: hidden;
}

.app_header {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));

  &.app_header_transparent {
    border-bottom: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }

  &.chat_header_transparent {
    // Adjust on small devices
    @media (min-width: vars.$mantine-breakpoint-xs) {
      border-bottom: none !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
}

.app_navbar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border-right: func.to-rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.app_footer {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
  border-top: light-dark(
    func.to-rem(1px) solid var(--mantine-color-gray-2),
    func.to-rem(1px) solid var(--mantine-color-dark-5)
  );

  // Scale on small devices
  @media (max-width: vars.$mantine-breakpoint-sm) {
    height: func.to-rem(80px);
  }

  // Scale on large devices
  @media (min-width: vars.$screen-breakpoint-large) {
    height: func.to-rem(64px);
  }
}
