[Unit]
Description=Khofly API
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/khofly-api:latest
ContainerName=api
PublishPort=127.0.0.1:4000:4000

# Env
EnvironmentFile=/home/khofly/khofly/api/.env.local

# Security
SecurityLabelDisable=false
NoNewPrivileges=true
DropCapability=ALL
# AddCapability=NET_BIND_SERVICE
ReadOnly=true
Tmpfs=/tmp

# Auto-restart
Restart=always

[Service]
RestartSec=10s

[Install]
WantedBy=default.target