@use "variables" as vars;
@use "functions" as func;

// Video

.media_player {
  width: 100%;
  height: auto;
}

// Music

.private_music_player {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  // Same as footer
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
  border-top: light-dark(
    func.to-rem(1px) solid var(--mantine-color-gray-2),
    func.to-rem(1px) solid var(--mantine-color-dark-5)
  );

  .music_img {
    min-width: func.to-rem(50);
    width: func.to-rem(50);
    height: func.to-rem(50);
  }
}
