.combobox_cursor {
  cursor: pointer !important;
}

.flag_icon_lg {
  width: 25px;
  max-width: 25px;
  height: auto !important;

  svg {
    width: 25px;
    max-width: 25px;
    height: auto !important;
    display: flex;
  }
}

.flag_icon_sm {
  width: 22px;
  max-width: 22px;
  height: auto !important;

  svg {
    width: 22px;
    max-width: 22px;
    height: auto !important;
    display: flex;
  }
}
