@use "variables" as vars;

.song_ia {
  position: relative;

  @media (min-width: vars.$mantine-breakpoint-lg) {
    display: none;
  }
}

.song_lyrics {
  white-space: pre-wrap !important;
}

.song_title {
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-white));
}
