.DS_Store
/node_modules/

/.cache
/build

# React Router
/.react-router/
/build/

# local env files
.env*.local
.env*.production
.env

pnpm-lock.yaml

stats.html

wrangler.toml
.wrangler
.dev.vars

.vercel
